main
  article.background-image
  
    h1.page-title Calibration theme
    span.page-subtitle Minimalism to the power of maximum.
    
    p
      span.text-in.delay-1 After almost 10 years of client's work,
      br
      span.text-in.delay-20 we have crafted our first own product.
      
    p
      span.text-in.delay-50 This is a clean and minimalistic WP theme,
      br
      span.text-in.delay-70 created for artists, photographers, bloggers
      br
      span.text-in.delay-100 and everyone who loves simplicity.
      
    p.actions
      a.button(href="https://demo.mobilemarkup.com/calibration/" target="_blank") Demo
      a.button(href="https://demo.mobilemarkup.com/downloads/calibration.zip" target="_blank") Download
